@use '../utilities' as *; 

.action-button {
    position: absolute;
    top: 49.05rem;
    left: 3.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.65rem;
    height: 4.4rem;
    border-radius: 2rem;
    background: $color-primary;
    color: $color-light;
    font-size: 1.05rem;
    font-weight: 700;
    z-index: 20;

    &--light {
        background: $color-light;
        color: #ff460a;
    }

    &--upper-shift {
        top: 49.4rem;
        left: 3.2rem;
    }
}
