@use '../utilities' as *; 

.action-button {
    position: absolute;
    top: rem(785);
    left: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(314);
    height: rem(70);
    border-radius: rem(32);
    background: $color-primary;
    color: $color-light;
    font-size: rem(17);
    font-weight: 700;
    z-index: 20;

    &--light {
        background: $color-light;
        color: #ff460a;
    }

    &--upper-shift {
        top: rem(790);
        left: rem(51);
    }
}
