@use '../utilities' as *;

.welcome-hero {
    position: absolute;
    top: -1rem;
    left: 0;
    width: $screen-width;
    height: 24rem;
    border-radius: 0 0 2rem 2rem;
    background: $color-light;
    box-shadow: 0 0.25rem 2rem rgb(0, 0, 0, 0.05);
}

.access-brand {
    position: absolute;
    top: 7.05rem;
    left: 8.5rem;
    width: 9.4rem;
    height: 10.15rem;
    object-fit: contain;
}

.access-tabs {
    position: absolute;
    top: 20.65rem;
    left: 3.15rem;
    display: flex;
    justify-content: space-between;
    width: 19.65rem;
    font-size: 1.15rem;
    font-weight: 700;

    &__option {
        position: relative;
        width: 8.4rem;
        height: 2.5rem;
        text-align: center;
    }

    &__option--selected::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0.2rem;
        border-radius: 2rem;
        background: $color-primary;
    }
}

.credential-form {
    position: absolute;
    top: 27rem;
    left: 3.15rem;
    width: 19.65rem;

    &__group {
        display: block;
        height: 4rem;
        margin-bottom: 3rem;
        border-bottom: 0.05rem solid $color-border;
    }

    &__caption {
        display: block;
        margin-bottom: 0.45rem;
        color: rgb(0, 0, 0, 0.4);
        font-size: 0.95rem;
        font-weight: 600;
    }

    &__data {
        font-size: 1.05rem;
        font-weight: 700;
    }

    &__recover {
        position: absolute;
        top: 12.4rem;
        left: 0;
        color: $color-primary;
        font-size: 1.05rem;
        font-weight: 700;
    }
}
