@use '../utilities' as *;

.basket-round {
    position: absolute;
    top: 27.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: $color-primary;

    &--heart {
        left: 16.15rem;
    }

    &--trash {
        left: 20rem;
    }
}
