@use '../utilities' as *;

.basket-round {
    position: absolute;
    top: 27.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: $color-primary;

    &--heart {
        left: 16.15rem;
    }

    &--trash {
        left: 20rem;
    }

    &__glyph {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(0) invert(1);
    }
}
