@use '../utilities' as *;

.basket-hint {
    position: absolute;
    top: rem(144);
    left: rem(133);
    width: rem(20);
    height: rem(20);
}

.basket-tip {
    position: absolute;
    top: rem(144);
    left: rem(160);
    margin: 0;
    color: $color-muted;
    font-size: rem(16);
}

.basket-row {
    position: absolute;
    left: rem(50);
    width: rem(320);
    height: rem(102);
    border-radius: rem(20);
    background: $color-light;

    &--first {
        top: rem(178);
    }

    &--second {
        top: rem(294);
    }

    &--third {
        top: rem(416);
        left: rem(-81);
    }

    &__thumb-wrap {
        position: absolute;
        top: rem(4);
        left: rem(11);
        width: rem(99);
        height: rem(99);
        overflow: hidden;
        border-radius: 50%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__name {
        position: absolute;
        top: rem(32);
        left: rem(120);
        margin: 0;
        font-size: rem(17);
        font-weight: 800;
    }

    &__cost {
        position: absolute;
        top: rem(58);
        left: rem(120);
        margin: 0;
        color: $color-primary;
        font-size: rem(16);
        font-weight: 800;
    }

    &__quantity {
        position: absolute;
        right: rem(24);
        bottom: rem(16);
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: rem(52);
        height: rem(20);
        border-radius: rem(16);
        background: $color-primary;
        color: $color-light;
        font-size: rem(16);
        font-weight: 700;
    }
}
