@use '../utilities' as *;

.basket-round {
    position: absolute;
    top: rem(440);
    width: rem(48);
    height: rem(48);
    border-radius: 50%;
    background: $color-primary;

    &--heart {
        left: rem(258);
    }

    &--trash {
        left: rem(320);
    }

    &__glyph {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(24);
        height: rem(24);
        filter: brightness(0) invert(1);
    }
}
