@use '../utilities' as *;

.category-bar {
    position: absolute;
    top: rem(352);
    left: rem(96);
    display: flex;
    gap: rem(41);
    color: $color-muted;
    font-size: rem(17);

    &__option {
        position: relative;
    }

    &__option--highlight {
        color: $color-primary;
    }

    &__option--highlight::after {
        content: "";
        position: absolute;
        top: rem(32);
        right: rem(-16);
        left: rem(-16);
        height: rem(3);
        border-radius: rem(32);
        background: $color-primary;
    }
}
