@use '../utilities' as *;

.item-detail {
    &__media-wrap {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 15.05rem;
        height: 15.05rem;
        overflow: hidden;
        border-radius: 50%;
    }

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__pager {
        position: absolute;
        top: 23.3rem;
        left: 11rem;
        width: 4.25rem;
        height: 0.5rem;
    }

    &__title {
        position: absolute;
        top: 26.65rem;
        left: 3rem;
        width: 20rem;
        margin: 0;
        font-size: 2rem;
        line-height: 1.013;
        font-weight: 800;
        text-align: center;
    }

    &__cost {
        position: absolute;
        top: 29.45rem;
        left: 7.55rem;
        width: 11rem;
        margin: 0;
        color: $color-primary;
        font-size: 1.4rem;
        font-weight: 800;
        text-align: center;
    }

    &__block {
        position: absolute;
        left: 3.3rem;
        width: 18.55rem;
    }

    &__block--delivery {
        top: 33.3rem;
    }

    &__block--return {
        top: 40.2rem;
    }

    &__subheading {
        margin: 0 0 0.5rem;
        font-size: 1.05rem;
        font-weight: 800;
    }

    &__copy {
        margin: 0;
        color: rgb(0, 0, 0, 0.5);
        font-size: 1rem;
        line-height: 1.55;
        font-weight: 600;
    }
}
