@use '../utilities' as *;

.item-detail {
    &__media-wrap {
        position: absolute;
        top: rem(96);
        left: 50%;
        transform: translateX(-50%);
        width: rem(241);
        height: rem(241);
        overflow: hidden;
        border-radius: 50%;
    }

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__pager {
        position: absolute;
        top: rem(373);
        left: rem(176);
        width: rem(68);
        height: rem(8);
    }

    &__title {
        position: absolute;
        top: rem(426);
        left: rem(48);
        width: rem(320);
        margin: 0;
        font-size: rem(32);
        line-height: 1.013;
        font-weight: 800;
        text-align: center;
    }

    &__cost {
        position: absolute;
        top: rem(471);
        left: rem(121);
        width: rem(176);
        margin: 0;
        color: $color-primary;
        font-size: rem(22);
        font-weight: 800;
        text-align: center;
    }

    &__block {
        position: absolute;
        left: rem(53);
        width: rem(297);
    }

    &__block--delivery {
        top: rem(533);
    }

    &__block--return {
        top: rem(643);
    }

    &__subheading {
        margin: 0 0 rem(8);
        font-size: rem(17);
        font-weight: 800;
    }

    &__copy {
        margin: 0;
        color: rgb(0, 0, 0, 0.5);
        font-size: rem(16);
        line-height: 1.55;
        font-weight: 600;
    }
}
