@use '../utilities' as *;

.navbar-bottom {
    position: absolute;
    top: rem(818);
    right: rem(50);
    left: rem(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    &__glyph {
        width: rem(32);
        height: rem(32);
        opacity: 0.35;
        object-fit: contain;
    }

    &__glyph--current {
        opacity: 1;
        filter: drop-shadow(0 rem(6) rem(10) rgb(215, 56, 0, 0.4));
    }
}
