@use '../utilities' as *;

.payment-method {
    padding: rem(20) rem(21);

    &--payment {
        height: rem(208);
    }

    &--delivery {
        height: rem(160);
    }

    &--profile {
        height: rem(231);
    }

    &__row {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(16);
        height: rem(50);
    }

    &__row + &__row {
        margin-top: rem(16);
        padding-top: rem(16);
        border-top: rem(1) solid rgb(0, 0, 0, 0.16);
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(40);
        height: rem(40);
        border-radius: rem(10);
        background: #f47b0a;
    }

    &__icon-wrap--pink {
        background: #eb4796;
    }

    &__icon {
        width: rem(20);
        height: rem(20);
    }

    &__label {
        font-size: rem(17);
        font-weight: 700;
    }
}

.choice-indicator {
    flex: 0 0 auto;
    width: rem(16);
    height: rem(16);
    border: rem(1) solid #9f9f9f;
    border-radius: 50%;

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        cursor: pointer;
    }

    &--active,
    .choice-indicator__input:checked + & {
        border: rem(4) solid $color-primary;
    }
}
