@use '../utilities' as *;

.profile-menu {
    margin-top: rem(32);

    &__link {
        position: relative;
        display: block;
        width: rem(320);
        height: rem(64);
        margin-bottom: rem(32);
        padding: rem(20) rem(23);
        border-radius: rem(20);
        background: $color-light;
        font-size: rem(17);
        font-weight: 800;
    }

    &__chevron {
        position: absolute;
        top: rem(19);
        right: rem(16);
        width: rem(24);
        height: rem(24);
        transform: rotate(180deg);
    }
}
