@use '../utilities' as *;

.search-field {
    position: absolute;
    top: 15.15rem;
    left: 3.15rem;
    width: 19.65rem;
    height: 4rem;
    border-radius: 2rem;
    background: #efeeee;

    &__glyph {
        position: absolute;
        top: 1.3rem;
        left: 2.2rem;
        width: 1.15rem;
        height: 1.15rem;
    }

    &__text {
        position: absolute;
        top: 1.25rem;
        left: 4.3rem;
        color: rgb(0, 0, 0, 0.5);
        font-size: 1.05rem;
        font-weight: 600;
    }
}
