@use '../utilities' as *;

.search-field {
    position: absolute;
    top: rem(242);
    left: rem(50);
    width: rem(314);
    height: rem(64);
    border-radius: rem(32);
    background: #efeeee;

    &__glyph {
        position: absolute;
        top: rem(21);
        left: rem(35);
        width: rem(18);
        height: rem(18);
    }

    &__text {
        position: absolute;
        top: rem(20);
        left: rem(69);
        color: rgb(0, 0, 0, 0.5);
        font-size: rem(17);
        font-weight: 600;
    }
}
