@use '../utilities' as *;

.search-header {
    position: absolute;
    top: rem(72);
    left: rem(101);
    margin: 0;
    font-size: rem(17);
    font-weight: 700;
}

.results-board {
    position: absolute;
    top: rem(129);
    left: 0;
    width: $screen-width;
    min-height: rem(816);
    border-radius: rem(32) rem(32) 0 0;
    background: $color-panel;

    &__headline {
        margin: rem(32) 0 0;
        font-size: rem(32);
        font-weight: 800;
        text-align: center;
    }
}

.results__grid {
    .food-card--one {
        top: rem(242);
        left: rem(34);
    }

    .food-card--two {
        top: rem(296);
        left: rem(225);
    }

    .food-card--three {
        top: rem(512);
        left: rem(34);
    }

    .food-card--four {
        top: rem(576);
        left: rem(225);
    }

    .food-card--five {
        top: rem(794);
        left: rem(34);
    }

    .food-card--six {
        top: rem(855);
        left: rem(225);
    }
}
