@use '../utilities' as *;

.side-drawer {
    background: $color-primary-light;
    color: $color-light;

    &__preview {
        position: absolute;
        top: 10rem;
        left: 16rem;
        width: 16.3rem;
        height: 35.15rem;
        border-radius: 2rem;
        box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.18);
        object-fit: cover;
    }

    &__list {
        position: absolute;
        top: 10rem;
        left: 2.4rem;
        width: 10.65rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 5rem;
        border-bottom: 0.05rem solid rgb(255, 255, 255, 0.25);
        font-size: 1.05rem;
        font-weight: 700;
    }

    &__glyph {
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(0) invert(1);
    }

    &__logout {
        position: absolute;
        top: 49rem;
        left: 2.55rem;
        font-size: 1.05rem;
        font-weight: 700;
    }
}
