$color-primary: #fa4a0c;
$color-primary-light: #ff4b3a;
$color-surface: #f2f2f2;
$color-panel: #f9f9f9;
$color-light: #fff;
$color-dark: #000;
$color-muted: #9a9a9d;
$color-border: rgb(0, 0, 0, 0.25);
$screen-width: 26rem;
$screen-tall: 59.05rem;
$screen-short: 56rem;
$font-main: "Inter Variable", "SF Pro Rounded", "SF Pro Text", arial, sans-serif;
$font-display: "Inter Variable", "SF Pro Rounded", "SF Pro Text", arial, sans-serif;
$breakpoints: (
    "mobile": 26rem
)
