<nav class="navbar-bottom">
  <a href="home.html">
    <img class="navbar-bottom__glyph @@classHome" src="assets/icons/icon-home.svg" alt="Home">
  </a>
  <a href="offers.html">
    <img class="navbar-bottom__glyph @@classOffers" src="assets/icons/icon-offers.svg" alt="Offers">
  </a>
  <a href="profile.html">
    <img class="navbar-bottom__glyph @@classProfile" src="assets/icons/icon-profile.svg" alt="Profile">
  </a>
  <a href="history.html">
    <img class="navbar-bottom__glyph @@classHistory" src="assets/icons/icon-history.svg" alt="History">
  </a>
</nav>